.class_el {
  width: 150px;
  height: 150px;
  margin: 20px;
  background-color: grey;
}

#mySlider {
  /*background-color: red;*/
}

#test {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 20px;
}

.simpleSlide {
  display: none;
  width: 100%;
  height: 100%;
  font-size: 50px;
  text-align: center;
}

#prev, #next {
  cursor: pointer;
  margin: 5px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
}

.inputError {
  border: 1px solid red;
}

.block {
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  background-color: burlywood;
  .title {
    width: 100%;
    height: 50px;
    border: 1px solid black;
  }
  .body {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border: 1px solid black;
  }
}